ul#card-list {
  list-style: none;
  width: 315px;
  display: inline-block;
  margin: auto;
}

ul#card-list > li {
  width: 315px;
  margin: auto;
}

ul#card-list ul {
  margin: 20px 0px 20px 0px;
}

