@import 'client/app.scss';

.createGame .item h2 {
  margin: 8.5px 0 2px 0; 
  width: 90%;
}

.createGame .item i {
  position: absolute;
  top: 36%;
  right: 5%;
}

.create {
  #create {
    margin-top: 0px;
    border-radius: 0;
  }
}

.createGame .item-avatar {
  padding-left: 90px;
}

.createGame .item-avatar > img:first-child {
  max-width: none;
  width: initial;
  border-radius: 25%;
}